/* ===================== Base générale ===================== */

body {
  background-color: #fafafa;
  color: #1f2933;
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  padding: 0;
}

/* ===================== Titre ===================== */

h1 {
  text-align: center;
  font-weight: 500;
  margin: 20px 0;
}

/* ===================== Containers grill et indices ===================== */

#game-container {
  display: grid;
  gap: 2px;
  margin: 20px 0px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 30px;
  justify-content: center;
}

/* Toutes les cases */
#game-container .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  
  box-sizing: border-box;
}

/* Indices */
#game-container .index {
  background-color: #eeeeee00;
}

/* Grille joueur fixe */
#game-container .joueur {
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
}


/* États possibles */
#game-container .joueur.vide { background-color:#ffffff; }
#game-container .joueur.remplie { background-color: #1f2933; }
#game-container .joueur.inconnue { 
  position: relative; /* indispensable pour la croix - Permet aux pseudo-éléments ::before et ::after de se positionner par rapport à cette case */
  background-color: #ffffff; 
}
#game-container .joueur.inconnue::before,
#game-container .joueur.inconnue::after {
  content: ""; /* nécéssaire pour afficher un pseudo-élément*/
  position: absolute; /*Permet de placer chaque barre précisément, notamment par rapport à la case (position: relative du parent)*/
  width: 80%;
  height: 2px;
  background-color: red;
  top: 50%;
  left: 10%;
}

#game-container .joueur.inconnue::before { /*première barre de la croix*/
  transform: rotate(45deg);
}

#game-container .joueur.inconnue::after { /*deuxième barre de la croix*/
  transform: rotate(-45deg);
}

/* ===================== Controls (boutons) ===================== */

#controls-container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
}

#controls-container button {
  margin : 20px;
  padding: 8px 14px;
  font-size: 14px;
  cursor: pointer;
}

/* ===================== Chrono ===================== */

#chronometre-container{
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;

}
